* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body{
    height: 100%;
}
body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #34495e;
  align-items: center;
  
}

.container {
  padding: 2rem;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #7f8c8d;
  border-radius: 10px;
}

#jokeBox {
  margin-top: 20px;
  font-size: 1.1rem;
}

h1 {
  margin-bottom: 20px;
}

#category {
  border-radius: 4px;
  font-size: 1rem;
  background-color: #7f8c8d;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#getJoke {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #34495e;
  color: white;
  cursor: pointer;
}

#saveJoke {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #34495e;
  color: white;
  cursor: pointer;
}
#shareJoke {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #34495e;
  color: white;
  cursor: pointer;
}
